<div class="container">

    <form method="post">
        {{#each object}}
            <div class="row">

                <div class="col">
                    <label class="form-label">Секция</label>
                    <input type="number" value="{{section}}" class="form-control" id="exampleInputEmail1" name="section">
                </div>
                <div class="col">
                    <label class="form-label">Этаж</label>
                    <input type="number" value="{{floor}}" class="form-control" id="exampleInputEmail1" name="floor">
                </div>
                <div class="col">
                    <label class="form-label">Квартира</label>
                    <input type="number" value="{{flat}}" class="form-control" id="exampleInputEmail1" name="flat">
                </div>
            </div>
        {{/each}}

        {{genSelect object}}
            <!--<select name="typeMeter" class="form-select mt-2" aria-label="Default select example">
                <option selected>Выбор счётчика</option>
                <option value="Счётчик горячей воды">Счётчик горячей воды</option>
                <option value="Счётчик холодной воды">Счётчик холодной воды</option>
                <option value="Счётчик электроэнергии">Счётчик электроэнергии</option>
                <option value="Счётчик тепла">Счётчик тепла</option>
            </select>-->
    {{#each object}}
        <div class="mb-3 mt-3">
            <div class="row">
                <div class="col-12">
                    <div class="input-group">
                        <span class="input-group-text">Номер на АСР</span>
                        <input name="numberKdl" type="number" value="{{numberKdl}}" class="form-control">
                        <input name="numberAsr" type="number" value="{{numberAsr}}" class="form-control">
                    </div>
                    <div id="emailHelp" class="form-text">Введите номер АСР(если это вода). Например номер АСР "3/16". Первое поле 3, второе 16</div>
                </div>
            </div>
            <div id="emailHelp" class="form-text">Введите номер АСР(если это вода)</div>
            <div class="mb-3">
                <label class="form-label">Номер счётчика</label>
                <input type="number" value="{{numberMeter}}" class="form-control" id="exampleInputEmail1" name="numberMeter">
                <!--<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
            </div>
            <div class="mb-3">
                <label class="form-label">Показания</label>
                <input type="tezt" value="{{sumMeter}}" class="form-control" id="exampleInputEmail1" name="sumMeter">
            </div>
            <div class="mb-3">
                <label class="form-label">Комментарий</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="comment" value="{{comment}}">
            </div>

            <button type="submit" class="btn btn-primary">Изменить</button>
            

    {{/each}}
    </form>

</div>